<form
  id="guestbook-form"
  hx-ws="send"
  {{
  if
  .Data.DoFormSwap}}
  hx-swap-oob="true"
  {{end}}
  hx-indicator="#loading"
>
  <div class="mb-4">
    <label for="name" class="block text-sm font-medium">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="mt-1 p-2 w-full rounded text-black"
    />
  </div>

  <div class="mb-4">
    <label for="message" class="text-sm font-medium block">Message</label>
    <textarea
      id="message"
      name="message"
      rows="4"
      class="mt-1 p-2 w-full rounded text-black"
    ></textarea>
    {{ .Data.ValidationHTML }}
  </div>

  <div id="guestbook-form-validation">
    <!-- Need a empty div for OOB swapping the form response -->
  </div>

  <button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">
    Submit
  </button>
</form>
