<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Meta.Title }}</title>
    
    {{if .Meta.Description}}<meta name="description" content="{{ .Meta.Description }}">{{end}}
    {{if .Meta.Image}}<meta property="og:image" content="{{ .Meta.Image }}">{{end}}

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">

    <link href="static/css/global.min.css" rel="stylesheet">    
    {{ template "head" .}}
</head>
<body class="bg-gray-900 text-white flex flex-col h-full">
    <div class="mx-auto max-w-7xl p-4">
        {{ template "content" . }}
    </div>
    {{ template "scripts" .}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.5/htmx.min.js" integrity="sha512-2NwoAICmYEIEuayBZdfd/cEvYGevbb1jezvQli/Iw052KfAA3NGrXAH2AY02cjt3gMdui5Q8nKauPYgVOE+pmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>