<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Meta.Title }}</title>

    {{if .Meta.Description}}
    <meta name="description" content="{{ .Meta.Description }}" />
    {{end}} {{if .Meta.Image}}
    <meta property="og:image" content="{{ .Meta.Image }}" />
    {{end}}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link href="/dynamic/css/global.min.css" rel="stylesheet" />
    {{ template "head" .}}
  </head>
  <body class="bg-gray-900 text-white flex flex-col h-full">
    <div class="mx-auto max-w-7xl p-4">{{ template "content" . }}</div>
    {{ template "scripts" .}}
    <script src="/lib/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

    <!-- HX Indicators -->
    <div id="loading" style="display: none">Loading...</div>
  </body>
</html>
